<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <div class="page-next-level">
            <h4 class="title"> About Us</h4>
            <!-- <div class="page-next">
              <nav aria-label="breadcrumb" class="d-inline-block">
                <ul class="breadcrumb bg-white rounded shadow mb-0">
                  <li class="breadcrumb-item"><a routerLink="/index">Landrick</a></li>
                  <li class="breadcrumb-item"><a href="#">Page</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Services</li>
                </ul>
              </nav>
            </div> -->
          </div>
        </div>
          </div>
      </div>
  
  </section>
  
  <!-- Hero End -->
  
  <!-- Shape Start -->
  <div class="position-relative">
    <div class="shape overflow-hidden text-white">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  <!--Shape End-->
  
  <!-- Feature Start -->
  <section class="bg-half" id="home">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <div class="section-title">
            <div class="text-center">
              <h4 class="title mb-4">About our story</h4>
              <!-- <img src="assets/images/blog/05.jpg" class="img-fluid rounded-md shadow-md" alt=""> -->
            </div>
            <!-- <p class="text-muted mb-0 mt-4">This is required when, for example, the final text is not yet available.
              Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as
              lyrics when writing melodies in order to have a 'ready-made' text to sing with the melody. Dummy texts have
              been in use by typesetters since the 16th century.</p> -->
            <p class="text-muted">
                Started working as a small team of three dedicated freelancers, we have come a long way to this position to launch a digital platform where we are ready to offer our services to several clients simultaneously. </p>
  
              <p class="text-muted mb-0 mt-4">We have worked for more than 50 clients around the globe and still counting. Our translation team has native-level expertise in Indian and international languages. Currently, we have experts in Hindi, Gujarati, Marathi, Bengali, Telugu, Urdu, English, French, German, Spanish, and Arabic. And we are adding more languages to our list.</p>
              <p class="text-muted mb-0 mt-4">Our writing and translation professionals are experts in finance, cryptocurrency, games, software, stories, video scripts, academic content, research papers, books, legal documents, video translation and subtitling.</p>
              <p class="text-muted mb-0 mt-4">Text and Arts give you assurance of the accuracy, quality, and timely delivery of your work. We are always open to our customer’s suggestions and revisions of the work. We are happy to serve you.</p>
             
              </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
    
  </section>
  
  <section style="padding-bottom: 100px;" id="home">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <div class="section-title">
            <div class="text-center">
              <h4 class="title mb-4">What we do?</h4>
              <!-- <img src="assets/images/blog/05.jpg" class="img-fluid rounded-md shadow-md" alt=""> -->
            </div>
            <!-- <p class="text-muted mb-0 mt-4">This is required when, for example, the final text is not yet available.
              Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as
              lyrics when writing melodies in order to have a 'ready-made' text to sing with the melody. Dummy texts have
              been in use by typesetters since the 16th century.</p> -->
            <p class="text-muted">
                As our name suggests, Text & Arts is a platform that offers writing and designing solutions to clients worldwide.  </p>
  
              <p class="text-muted mb-0 mt-4">We deal with the translation and localization of websites, software, app, games, and much more. In addition, we provide services in content writing, blogs, creative writing, copywriting, advertisements, social media management, and academic writing.</p>
              <p class="text-muted mb-0 mt-4">Our graphic designing teams have expertise in Photoshop, Illustrator, InDesign, Coral, Canva, adobe premiere pro, and adobe after effects. </p>
              <p class="text-muted mb-0 mt-4">Our designers work for some major book publishing companies based in and out of India. Our dedicated team of graphic designers consists of some creative artists and illustration experts who work together to convert your idea into a creative design whether it’s your logo, poster, banner, social media post, advertisement, book cover, etc.</p>
             
              </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
    
  </section>
  
  <!-- Project End -->
  
  <!-- Back to top -->
  <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
    [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
  </a>
  <!-- Back to top -->
  