::ng-deep .dark-modal .modal-content {
  background-color: #000000;
  color: white;
  background: none;
  border: none;
  }
  ::ng-deep .dark-modal .modal-header {
  border : none
  }
  ::ng-deep .dark-modal .close {
  color: white;
  }

  .client-logo{
    filter: opacity(0.5);
  }
  .zada-logo{
    filter: grayscale(1);
    max-height: 30px;
  }
  .bollywood-casino-logo{
    filter: grayscale(1);
    opacity: 0.6;
  }