<section class="bg-half" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="section-title">
          <div class="text-center">
            <h4 class="title mb-4">Translation</h4>
            <!-- <img src="assets/images/blog/05.jpg" class="img-fluid rounded-md shadow-md" alt=""> -->
          </div>
          <!-- <p class="text-muted mb-0 mt-4">This is required when, for example, the final text is not yet available.
            Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as
            lyrics when writing melodies in order to have a 'ready-made' text to sing with the melody. Dummy texts have
            been in use by typesetters since the 16th century.</p> -->
          <p class="text-muted">
            We deal with the translation and localization of websites, software, app, games, and much more. In addition, we provide services in content writing, blogs, creative writing, copywriting, advertisements, social media management, and academic writing.</p>
            <p class="text-muted mb-0 mt-4">We have worked for more than 50 clients around the globe and still counting. Our translation team has native-level expertise in Indian and international languages. Currently, we have experts in Hindi, Gujarati, Marathi, Bengali, Telugu, Urdu, English, French, German, Spanish, and Arabic. And we are adding more languages to our list.</p>
            <p class="text-muted mb-0 mt-4">We have translated more than 10,000,000+ words into different languages from the source languages.</p>
            <p class="text-muted mb-0 mt-4">Across platforms, devices, and channels, Text and Arts modifies content to make it relevant locally and provide a world-class user experience. Every step of the way, we make sure your material is relevant and acceptable for the target audience.</p>
            <p class="text-muted mb-0 mt-4">It's critical to leave a strong first impression, especially when working with clients from other countries. Since everyone loves to read their native language, localization will aid in engaging and holding the interest of new clients.</p>
            <p class="text-muted mb-0 mt-4">A completely localised website contributes to the trust of your brand in your target markets. Effectively reducing client misunderstandings and inaccurate representations of your brand abroad is quality multilingual content.</p>
         
         </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
  [ngxScrollTo]="'#home'">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
