<section class="bg-half" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="section-title">
          <div class="text-center">
            <h4 class="title mb-4">Proofreading services</h4>
            <!-- <img src="assets/images/blog/05.jpg" class="img-fluid rounded-md shadow-md" alt=""> -->
          </div>
          <!-- <p class="text-muted mb-0 mt-4">This is required when, for example, the final text is not yet available.
            Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as
            lyrics when writing melodies in order to have a 'ready-made' text to sing with the melody. Dummy texts have
            been in use by typesetters since the 16th century.</p> -->
          <p class="text-muted">
            The proofreading process is frequently just as crucial as the writing stage because poorly written content doesn't convey a clear message. With the help of high-caliber native proofreading services from Texts and Art, you may persuade a global audience of your message in a genuine, professional, and error-free manner.</p>

            <p class="text-muted mb-0 mt-4">Our professional proofreading services include more than 10 language pairs and may be used as a stand-alone project or as an add-on after translation to ensure that your content for online, print or internal platforms is publication ready.</p>
                </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
  [ngxScrollTo]="'#home'">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
