<section class="bg-half" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="section-title">
          <div class="text-center">
            <h4 class="title mb-4">Copywriting</h4>
            <!-- <img src="assets/images/blog/05.jpg" class="img-fluid rounded-md shadow-md" alt=""> -->
          </div>
          <!-- <p class="text-muted mb-0 mt-4">This is required when, for example, the final text is not yet available.
            Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as
            lyrics when writing melodies in order to have a 'ready-made' text to sing with the melody. Dummy texts have
            been in use by typesetters since the 16th century.</p> -->
          <p class="text-muted">
            Writing text for brochures, billboards, websites, emails, commercials, and blogs is a process called copywriting. The goal is to raise brand awareness and ultimately persuade a person to perform a specific action.</p>

            <p class="text-muted mb-0 mt-4">Every day, more than 27 million pieces of content are posted online; therefore, your material must stand out in order to draw in more customers and establish a distinctive and strong brand voice.</p>
            <p class="text-muted mb-0 mt-4">Copywriting not only offers great material but also has a higher ROI than outbound marketing techniques. You may quickly and easily attract readers to your website, blog, or social media account by producing engaging material that is original, timely, and of the highest calibre.</p>
                </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
  [ngxScrollTo]="'#home'">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
