<section class="bg-half" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="section-title">
          <div class="text-center">
            <h4 class="title mb-4">Transcreation</h4>
            <!-- <img src="assets/images/blog/05.jpg" class="img-fluid rounded-md shadow-md" alt=""> -->
          </div>
          <!-- <p class="text-muted mb-0 mt-4">This is required when, for example, the final text is not yet available.
            Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as
            lyrics when writing melodies in order to have a 'ready-made' text to sing with the melody. Dummy texts have
            been in use by typesetters since the 16th century.</p> -->
          <p class="text-muted">
            Transcreation is the process of culturally changing a message from one language for a different audience. Transcreation aims to replicate the original text's intent, context, style, tone, and emotion in an entirely new text that is written expressly for a certain market, as opposed to a literal, word-for-word translation.</p>

            <p class="text-muted mb-0 mt-4">Translation and creation are two words that are used to form the term "transcreation," which refers to the act of creating something new. Language experts that are knowledgeable about your sector and are experts in the linguistic and cultural nuances of your target market support this highly creative process.</p>
            <p class="text-muted mb-0 mt-4">There is no requirement for transcreation when translating precise facts into another language. For instance, a stock report informs readers about the price movement of a stock as well as the corporate events that have led to this trend. This information is factual and unemotional; what you need is a translator who is an expert in your field. That contrasts sharply with more emotive writing, like:</p>
           
            <ul class="text-muted">
              <li>slogans</li>
                <li>advertisements and billboards</li>
                <li>headlines
                </li>
                
                <li>TV commercials</li>
                <li>film and book titles</li>
                <li>e-screens
                </li>
                <li>banners</li>
                <li>claims</li>
                <li>special expressions
                </li>
                <li>content which is trying to connect emotionally to users</li>
                <li>blog content which is written in conversational format</li>
                <li>content that asks or answers questions (e.g. for voice search)
                </li>
            </ul>
          </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
  [ngxScrollTo]="'#home'">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
